*.class
*~

# Package Files #
*.jar
*.war
*.ear

target/**
*/target/**
node_modules/*
public/*

src/main/java/com/distelli/europa/EuropaVersion.java
pom.xml.releaseBackup
release.properties

.DS_Store
*/.DS_Store
tmp/*
europa-config.sh
europa-test-config.sh
EuropaConfig.json
EuropaTestConfig.json
