*.class
*~

# Package Files #
*.jar
*.war
*.ear

target/**
*/target/**
node_modules
public/js/*
public/css/*
public/*.svg

pom.xml.releaseBackup
release.properties

.DS_Store
*/.DS_Store
tmp/*
EuropaConfig.json
EuropaTestConfig.json