.APITokens {
    .APIHeader {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        color: #FFFFFF;
        font-size: 0.75rem;
        padding: 10px;
        width: 100%;

        .Actions {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            flex: 1;
        }
    }

    .APIBody {
        display: flex;
        flex-direction: column;

        .TokenItem {
            display: flex;
            flex-direction: column;

            &:nth-of-type(2n - 1) {
                background-color: $light-grey;
            }

            &:nth-of-type(2n) {
                background-color: $dark-grey;
            }

            .TokenDetails {
                display: flex;
                flex-direction: row;
                transition: all 0.3s;
                padding: 7px 10px;
                font-size: 0.75rem;

                .Flex1, .Flex2 {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    align-content: center;

                }

                .Active {
                    color: $green;
                }

                .Inactive {
                    color: $red;
                }

                .Token {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    align-content: center;

                    .Btn {
                        height: 24px;
                        width: 60px;
                        font-size: 0.75rem;
                        margin-right: 21px;
                    }
                }

                .Actions {
					display: flex;
                	flex-direction: row;
                	justify-content: flex-end;

                    i {
                        color: $light-blue;
                        transition: all 0.3s;
                        font-size: 1rem;
                        padding: 0px 7px;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    i.icon-dis-questionmark{
                        &:hover {
                            color: $green;
                        }
                    }

                    i.icon-dis-disconnect, i.icon-dis-trash {
                        &:hover {
                            color: $red;
                        }
                    }
                }
            }
        }
    }
}