select.BlueBorder, input.BlueBorder, textarea.BlueBorder {
    position: relative;
    background: $backgroundColor;
    font-size: 0.75rem;
    font-weight: 400;
    color: #1DAFE9;
    border: 0px;
    outline: 0px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0px;
    -webkit-appearance: inherit;
    border-bottom: solid 1px #FFFFFF;
    transition: all 0.3s;

    &:focus, &:hover {
        border-bottom: solid 1px $light-blue;
    }
}

select.BlueBorder, input.BlueBorder.FullWidth, textarea.BlueBorder.FullWidth {
    width: 100% !important;
}

select.BlueBorder.Error, input.BlueBorder.Error, textarea.BlueBorder.Error {
    border-bottom: solid 1px $red;
}

select.BlueBorder.White, input.BlueBorder.White, textarea.BlueBorder.White {
    background-color: white !important;
}

input.BlueBorder.Search {
    font-size: 1rem;
    font-weight: 300;
    color: #808285;
    margin: 1rem 0 0;
    width: 100%;
    border: 0px;
    background-color: $backgroundColor;
    background: url(../images/search-icon.png);
    background-size: 20px 20px;
    background-position: 0px 8px;
    background-repeat: no-repeat;
    padding-left: 28px;

    &:hover {
        border: 0px;
    }
}

input.BlueBorder.Search.Small {
    font-size: 0.9rem;
    background-size: 14px 14px;
    background-position: 0px 11px;
    padding-left: 20px;
}

input.BlueBorder.Search.Tiny {
    background-size: 14px 14px;
    background-position: 4px 10px;
    padding-left: 24px;
    font-size: 0.75rem;
    font-weight: 400;
    margin-top: 0px;
}


select.BlueBorder.SuccessBg, input.BlueBorder.SuccessBg, textarea.BlueBorder.SuccessBg {
    background-color: $light-green;
}

select.BlueBorder.ErrorBg, input.BlueBorder.ErrorBg, textarea.BlueBorder.ErrorBg {
    background-color: $light-red;
}

select.BlueBorder.ErrorBg, input.BlueBorder.WarningBg, textarea.WarningBg {
    background-color: $light-yellow;
}