select.BlueBorder, input.BlueBorder {
	position: relative;
    background: #FFFFFF;
    font-size: 0.75rem;
    font-weight: 400;
    color: #1DAFE9;
    border: 0px;
    outline: 0px;
    padding: 9px;
    box-sizing: border-box;
    border-radius: 0px;
    -webkit-appearance: inherit;
    border-bottom: solid 1px #FFFFFF;
    transition: all 0.3s;

    &:focus{
        border-bottom: solid 1px $light-blue;
    }

}

select.BlueBorder, input.BlueBorder.FullWidth {
	width: 100%;
}

select.BlueBorder.Error, input.BlueBorder.Error {
    border-bottom: solid 1px $red;
}


select.BlueBorder.Dark, input.BlueBorder.Dark {
    background-color: $backgroundColor;
}

input.BlueBorder.Search {
    font-size: 1.2rem;
    margin: 1rem 0;
    font-weight: 300;
    width: 100%;
    background-color: $backgroundColor;
    border-bottom: solid 1px $light-blue;
    background: url(../images/search-icon.png);
    background-size: 20px 20px;
    background-position: 0px 10px;
    background-repeat: no-repeat;
    padding-left: 28px;

}