.Btn {
    position: relative;
    height: 35px;
    font-size: 0.9rem;
    font-weight: 300;
    background-color: $light-blue;
    color: white;
    text-align: center;
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;

    &:hover {
        cursor: pointer;
    }

    &:active {
        background-color: darken($light-blue, 10%);
        top: 1px;
    }
}

.Btn.Grey {
    background-color: #AAAAAA;

    &:hover {
        cursor: inherit;
    }

    &:active {
        background-color: #AAAAAA;
        border-bottom: 0px;
        top: 0px;
    }
}

.Btn.Cancel {
    background-color: $pink;
}

span.BtnContainer {
    p.HelperText {
        font-size: .755rem;
        font-weight: 400;
        font-style: italic;
        color: $black;
    }
}