.ContentRow {
    position: relative;
    display: flex;
    flex-direction: row;
    height: auto;
    padding: 14px 0;
    margin: 0px;

    .ContentColumn {
        position: relative;
        display: flex;
        flex-direction: row;
        height: auto;
        flex: 1;
    }

    .IconContainer {
        color: black;
        font-size: 1.5rem;
        position: relative;
    }

    .ContentBody {
        margin-left: 5px;
        margin-top: 7px;
        flex: 1;
    }
}