.DockerPullCommands {
    display: flex;
    flex-direction: column;
    margin-right: 42px;

    i.icon-dis-copy {
        color: $light-blue;
        transition: all 0.3s;
        margin-right: 5px;
        position: relative;

        &:hover {
            color: darken($light-blue, 10%);
            cursor: pointer;
        }

        &:active {
            top: 1px;
        }
    }

    .Commands {
        font-family: 'Courier New';
        font-size: 0.70rem;
    }

    .More {
        font-size: 0.69rem;
        color: $light-blue;
        transition: all 0.3s;
        margin-left: 5px;
        margin-bottom: -2px;

        &:hover {
            cursor: pointer;
            color: darken($light-blue, 10%);
        }
    }

    .PullCommandsDropDown {
        position: absolute;
        width: 600px;
        top: 75px;
        margin-left: -266px;
        background-color: #FFFFFF;
        border: 1px solid #CFD1D2;
        border-radius: 3px;
        -moz-box-shadow: 0 1px 20px 0 #C7C7C7;
        -webkit-box-shadow: 0 1px 20px 0 #C7C7C7;
        box-shadow: 0 1px 20px 0 #C7C7C7;
        z-index: 100;

        div.Arrow {
            transform: rotate(45deg);
            width: 14px;
            height: 14px;
            background-color: #D3EFFA;
            position: absolute;
            top: -8px;
            left: calc((100% - 14px)/2);
            border-top: 1px solid #CFD1D2;
            border-left: 1px solid #CFD1D2;
        }

        .LargePullCommand {
            background-color: #D3EFFA;
            padding: 10px;
            font-size: 0.875rem;
            display: flex;
            flex-direction: row;
            align-items: center;

            div {
                word-wrap: break-word;
                max-width: 530px;
            }

            i {
                margin-left: 21px;
                font-size: 1.2rem;
                color: $light-blue;
                transition: all 0.2s;

                &:hover {
                    cursor: pointer;
                    color: darken($light-blue, 10%);
                }
            }
        }

        .SmallPullCommand {
            display: flex;
            flex-direction: row;
            background-color: white;
            border-bottom: 1px solid $light-grey;
            color: $grey;
            padding: 10px;
            font-size: 0.875rem;

            i.icon-dis-tag {
                color: $purple;
                font-size: 1rem;
                margin-right: 5px;
                position: relative;
                top: 2px;
            }

            div {
                word-wrap: break-word;
                max-width: 530px;
                flex: 1;
            }

            i.icon-dis-copy {
                position: relative;
                font-size: 1.2rem;
                color: $light-blue;
                transition: all 0.2s;

                &:hover {
                    cursor: pointer;
                    color: darken($light-blue, 10%);
                }

                &:active {
                    top: 1px;
                }
            }
        }
    }
}