.DockerPullCommands {
	display: flex;
	flex-direction: column;
	margin-right: 42px;	

	i.icon-dis-tag {
		color: $purple;
		margin-right: 2px;
	}

	.More {
		color: $light-blue;
		transition: all 0.3s;

		&:hover {
			cursor: pointer;
			color: darken($light-blue, 10%);
		}
	}
}