/*
  @author Sam Heutmaker [samheutmaker@gmail.com]
*/

.DropdownContainer {
    .Dropdown.Open {
        height: 200px;
        padding: 10px;
        border: 1px solid $light-blue;
        border-top: 3px solid $light-blue;
        overflow-y: scroll;
    }

    .NoItems {
        justify-content: center;
        align-items: center;
        display: flex;
        color: $grey;
        font-size: 0.875rem;
        margin-top: -20px;
    }

    .LoaderContainer {
        justify-content: center;
        align-items: center;
        display: flex;
        color: $grey;
        font-size: 0.875rem;
        margin-top: -20px;   
        flex: 1;
    }

    .Dropdown {
        position: relative;
        height: 0px;
        display: flex;
        flex-direction: column;
        border: 0px;
        background-color: #FFFFFF;
        padding: 0px;
        z-index: 9000;
        overflow: hidden;

        .ListItem.Active {
            background-color: #D3EFFA;
        }

        .ListItem {
            position: relative;
            padding: 10px;
            background-color: #FFFFFF;
            transition: background-color 0.3s;
            border-bottom: 1px solid #D3EFFA;
            font-size: 0.6875rem;
            font-weight: 600;

            &:last-of-type {
                border: 0px;
            }

            &:hover {
                cursor: pointer;
                background-color: #D3EFFA;
            }

            img {
                height: 30px;
                width: 30px;
                margin-right: 7px;
            }

            .Cell {
                margin-right: 14px;
            }

            .Label {
                color: $black;
                margin-right: 3px;
            }

            .Value {
                color: $grey;
            }
        }
    }
}