.Msg {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        color: $red;
        font-weight: 600;
        font-size: 0.8rem;
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0 0 7px;
    }

    i.icon-dis-close {
        color: $red !important;
        font-size: 1rem;

        &:hover {
            cursor: pointer;
        }
    }
}


.Msg.Success {
    p {
        color: $green !important;
    }

    i.icon-dis-close {
        color: $green !important;
    }
}

