.RegistryLegend {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-radius: 3px;
    background-color: darken($curtain-color, 5%);

    span {
        flex: 1;
        font-weight: 600;
        color: $black;
    }
}

.RegistryList {
    background-color: $curtain-color;
    border-radius: 3px;

    .RegistryItem {
        border-bottom: solid 1px $border-color;
        padding: 10px;
        transition: all 0.3s;

        &:hover {
            background-color: lighten($backgroundColor, 2%);
        }

        .Inside {
            align-items: center;

            .ProviderIcon {
                height: 28px;
                width: 28px;
                border: 0px;
                outline: 0px;
                margin-right: 11px;
            }

            span.ListValue {
                font-weight: 400;
                font-size: 1rem;
                color: $grey;
                flex: 1;
            }

            .Actions {
                flex: 1;


                i {
                    color: $light-blue;
                    flex: 1;
                    margin: 0px 7px;
                    transition: all 0.3s;

                    &:hover {
                        cursor: pointer;
                        color: darken($light-blue, 15%);
                    }
                }
            }
        }
    }
}