.RepoEventTimeline {
    display: flex;
    flex-direction: column;

    .Timeline {
        display: flex;
        flex-direction: column;

        .TimelineLegend {
            padding: 0 10px;
            height: 40px;
            border-radius: 3px 3px 0 0;
            background-color: $dark-blue;
            color: #FFFFFF;
            font-size: 0.75rem;
            font-weight: 600;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .TimelineNavigation {
                display: flex;
                flex-direction: row;
                padding-left: 5px;

                div.Active {
                    color: $salmon;
                }

                div {
                    margin: 0;
                    margin-right: 35px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    color: white;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            i.icon-dis-waiting {
                font-size: 1.2rem;
                justify-content: center;
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }

        .TimelineContainer {
            display: flex;
            flex-direction: column;
            background-color: $curtain-color;
            min-height: 150px;
            padding: 21px 10px;
        }

        .TagsContainer {
            display: flex;
            flex-direction: column;
            background-color: $curtain-color;
        }
    }

    // Event Tags Timeline
    .RepoTagItem {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 5px 10px 15px;

        &:nth-of-type(2n - 1) {
            background-color: $light-grey;
        }

        &:nth-of-type(2n) {
            background-color: $dark-grey;
        }

        i {
            font-size: 1.2rem;
            margin-right: 7px;

            &:hover {
                cursor: pointer;
            }
        }

        i.icon-dis-box-check {
            color: $green;
        }

        i.icon-dis-box-uncheck {
            color: $grey;
        }

        .ImageSha {
            flex: 1;
            color: $black;
            font-weight: 400;
            font-size: 0.75rem;
            margin-right: 14px;
        }

        .Tags {
            flex: 1;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            position: relative;
            top: -2px;
        }

        .Pushed, .Size {
            flex: 1;
            display: flex;
            flex-direction: row;

            .Label {
                color: $black;
                font-weight: 400;
                font-size: 0.75rem;
            }

            .Value {
                color: $grey;
                font-weight: 400;
                font-size: 0.75rem;
            }
        }
    }

    // Event Timeline
    .RepoEventContainer {
        display: flex;
        flex-direction: column;

        &:last-of-type {
            .RepoEventItem {
                .EventLine {
                    border: 0;
                }
            }
        }

        .RepoEventItem {
            margin: 0px;
            display: flex;
            flex-direction: row;
            height: 90px;
            align-items: flex-start;

            .EventLine {
                border-left: 2px solid $dark-border-color;
                position: relative;
                height: 100%;
                margin-left: 13px;

                img.EventIcon {
                    margin-left: -13px;
                    height: 26px;
                    width: 26px;
                    top: -1px;
                    position: relative;
                }
            }

            .EventDetails {
                display: flex;
                flex-direction: row;

                .EventType {
                    margin-left: 14px;
                    margin-top: 5px;

                    .Image {
                        font-size: 0.75rem;
                        font-weight: 600;
                        color: $black;
                    }

                    .Type {
                        font-size: 0.6875rem;
                        font-weight: 400;
                        color: $green;
                    }
                }

                .Time {
                    display: flex;
                    flex-direction: column;
                    margin-left: 42px;
                    margin-top: 5px;
                    width: 100px;
                    padding-right: 7px;
                    border-right: 1px solid $dark-border-color;
                    height: 65px;

                    .Friendly {
                        font-size: 0.75rem;
                        font-weight: 600;
                        color: $black;
                    }

                    .UTC {
                        font-size: 0.6875rem;
                        font-weight: 600;
                        color: $grey;
                    }
                }

                .ImageInfo {
                    display: flex;
                    flex-direction: column;
                    margin-left: 21px;
                    width: 470px;

                    i {
                        margin-right: 5px;
                        top: 4px;
                        position: relative;
                        color: $green;
                    }

                    .Label {
                        color: $black;
                        font-weight: 400;
                        font-size: 0.75rem;
                    }

                    .Value {
                        color: $light-blue;
                        font-weight: 400;
                        font-size: 0.75rem;
                    }

                    .Image {}

                    .Sha {}

                    .Tags {
                        display: flex;
                        flex-direction: row;
                    }
                }

                .Notifications {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    margin-left: 220px;

                    .Item {
                        @extend .Clickable;

                        color: $light-blue;
                        font-size: 0.75rem;
                        font-weight: 400;
                    }
                }
            }
        }

        .NotificationContainer {
            width: 100%;
            position: relative;
            padding-bottom: 21px;
        }
    }
}