.RepoEventTimeline {
    .Timeline {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        .TimelineContainer {
            display: flex;
            flex-direction: column;
            background-color: $curtain-color;
            padding: 10px;
        }
    }

    .RepoEventItem {
        margin: 0px;
        display: flex;
        flex-direction: row;
        height: 60px;
        align-items: flex-start;


        .EventLine {
            border-left: 2px solid $dark-border-color;
            position: relative;
            height: 100%;
            margin-left: 13px;

            img.EventIcon {
                margin-left: -13px;
                height: 26px;
                width: 26px;
            }
        }

        .EventDetails {
            display: flex;
            flex-direction: row;
            align-items: center;

            .EventType {
                margin-left: 14px;
                .Image {
                    font-size: 0.75rem;
                    font-weight: 600;
                    color: $black;
                }

                .Type {
                    font-size: 0.6875rem;
                    font-weight: 400;
                     color: $green;
                }
            }
        }
    }
}