.SSLSettings {
    margin: 14px 0 100px;

    .FlexColumn, .FlexRow {
        margin-bottom: 21px;
    }

    textarea {
        height: 200px;
    }

    .UnsavedChanges {
        font-size: 0.75rem;
        color: $red;
        width: 154px;
        left: 50%;
        position: relative;
        margin-left: -163px;
    }
}

.SSLStatus {
    margin: 7px 0;

    span {
        font-style: italic;
    }
}