.StorageSettings.Edit {
    background-color: $curtain-color;
}

.StorageSettings {
    position: relative;
    max-width: 850px;
    margin: 2rem auto 1rem;
    background-color: white;
    height: auto;
    padding: 14px;
    display: flex;
    flex-direction: column;
    margin-top: 0px;

    .Title {
        color: $teal;
        font-size: 1.4rem;
        font-weight: 300;
        flex: 1;
    }


    .InputRow {
    	margin-bottom: 0.5rem;
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 5px;
        }
    }
}
