.UploadGCEServiceAccount {
    flex: 1;

    .UploadDropZone {}

    .UploadText {
        @extend .Clickable;

        font-weight: 600;
        font-size: 0.6875rem;
        margin: 5px 0px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .Error {
            color: $red;
        }

        .Success {
            color: $green;
        }

        i {
            font-size: 0.75rem;
    		margin-right: 5px;
        }
    }
}