.WebhookData.Modal {
    margin: 0px;
    margin-top: -200px;
    width: 800px;
}

.WebhookData {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin: 10px 13px 0;
    padding: 10px;
    border: 1px solid $light-blue;
    border-top: 3px solid $light-blue;

    .Controls {
        padding: 0 0 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 0.75rem;
        border-bottom: solid 1px $border-color;

        .Title {
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: flex-start;
        }

        .ChooseType {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .Redeliver {
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: flex-end;
            margin-right: 10px;
        }

        .Close {
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: flex-end;

            i.icon-dis-close {
                @extend .Clickable;
                font-size: 1.4rem;
            }
        }
    }

    .Data {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        padding: 14px;

        .Title {
            font-size: 0.8rem;
            color: $green;
            font-weight: 400;
        }

        .DataHeaders {}

        .DataBody {}
    }
}