// Icons
@import "vendor/css/distelli-icons.css";

// Fonts
@import "vendor/css/open-sans.css";

// Global Colors
@import "global/colors.scss";

// Layout
@import "pages/LandingPage";
@import "pages/Layout";
@import "pages/Pipelines";
@import "pages/Repositories";
@import "pages/Settings";

// Partials
@import "partials/APITokens";
@import "partials/BlueBorderInput";
@import "partials/Btn";
@import "partials/BtnGroup";
@import "partials/CenteredConfirm";
@import "partials/ContentRow";
@import "partials/ControlRoom";
@import "partials/Dropdown";
@import "partials/Footer";
@import "partials/Msg";
@import "partials/Loader";
@import "partials/Pipeline";
@import "partials/PipelineStageItem";
@import "partials/RadioButton";
@import "partials/Registries";
@import "partials/RepoEventTimeline";
@import "partials/RepoSettings";
@import "partials/RepoNotifications";
@import "partials/StorageSettings";
@import "partials/UploadGCEServiceAccount";
@import "partials/WebhookData";
@import "partials/WebhookViewer";

html, body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans';
    background-color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    overflow-y: scroll;
}

a {
    color: inherit;
    text-decoration: none;
    color: $yellow;
}

div.Button {
    width: 100px;
    height: 28px;
    margin: 7px 2px 0;
    color: #FFFFFF;
    transition: all 0.3s;

    &:hover {
        cursor: pointer;
    }
}

@mixin Button($bgColor) {
	@extend div.Button;
	background-color: $bgColor;
	&:hover{
		background-color: lighten($bgColor, 5%);
	}
}

div.ButtonPink{
	@include Button($pink);
}

div.ButtonBlue{
	@include Button($light-blue);
}