$light_gray: rgb(247, 247, 247);
$pink: #F7739C;


@import "vendor/css/distelli-icons.css";

// Global Colors
@import "global/colors.scss";



body {
  background: $light_gray;
  height: 100vh;
  background-color: red;
}



