.LandingPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 2.8125rem;
        font-weight: 300;
        color: black;
        color: $black;
        margin-top: 100px;
    }

    .FlexRow {
        margin: -10px;

        .Flex1 {
            padding: 5px;
        }
    }

    
}