$max-width: 1080px;

nav {
    position: relative;
    width: 100%;
    background-color: $dark-blue;
    height: 45px;
    display: flex;
    flex-direction: row;
    padding: 0 0 0;

    .MaxWidthContainer {
        position: relative;
        max-width: $max-width;
        margin: 0 auto;
        width: 100%;
        display: flex;

        .SettingsNav {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 75px;

            .Flex1 {
                text-align: right;
            }

            a {
                i {
                    font-size: 1.4rem;
                    position: relative;
                    color: $light-blue;
                    top: 2px;
                }
            }
        }

        .MainNav {
            height: 45px;
            flex: 1;
            display: flex;
            align-items: center;

            img {
                height: 30px;
                margin: 0 70px 0 0;
                position: relative;
                top: 2px;
            }

            a.MainNavLink {
                height: 45px;
                padding: 0 21px;
                background: none;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-size: .85rem;
                font-weight: 400;
            }
        }
    }

    h2 {
        font-weight: 300;
        font-size: 1rem;
        color: $salmon;
    }

    .NavButtonContainer {
        a {
            color: inherit;
            text-decoration: none;

            i {
                font-size: 1.2rem;
                color: $light-blue;
                margin-left: 30px;
            }
        }
    }
}

.ScreenCover {
    left: 0;
    position: fixed;
    height: 100%;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10000;
    display: flex;
}

.LandingPageNav {
    position: relative;
    width: 100%;
    background-color: $dark-blue;
    height: 100px;
    display: flex;
    flex-direction: row;
    padding: 1px 0 0;
    justify-content: center;
    align-items: center;

    .PremiumLogo {
        width: 200px;
        top: 4px;
        position: relative;
    }
}

.PageContainer.Dark {
    background-color: $curtain-color;
    position: absolute;
    height: 100%;
    width: 100%;
}

.PageContent {
    position: relative;
    min-height: calc(100% - 275px);

    .MaxWidthContainer {
        position: relative;
        max-width: $max-width;
        margin: 0 auto;

        .ContentContainer {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;

            .PageHeader {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                margin: 0 0 0;
                padding: 16px 0 0;

                h2 {
                    position: relative;
                    font-size: 2.125rem;
                    font-weight: 300;
                    color: $teal;
                    margin: 0;
                }

                h3 {
                    position: relative;
                    font-size: 1.8rem;
                    font-weight: 300;
                    color: $light-blue;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .SmallHeader {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                margin: 0 0 14px;
                padding: 16px 0 0;
    
                img {
                    height: 30px;
                    margin: 2px 5px 0 0;
                }

                h3 {
                    color: $light-blue;
                    font-size: 1.5625rem;
                    font-weight: 300;
                    margin: 0;
                }

                span {
                    font-size: 0.75rem;
                    font-weight: 400;
                    color: $grey;
                    margin-left: 36px;
                }
            }
        }
    }
}

.Tag {
    border-radius: 3px;
    background-color: $purple;
    padding: 2px 6px;
    font-size: 0.55rem;
    font-weight: 400;
    color: #FFFFFF;
    margin: 4px 7px 0 0;
    text-transform: uppercase;
}

.GradientBlueGreenButton {
    background: -moz-linear-gradient(left, #00a79d 0%, #326de6 100%);
    background: -webkit-linear-gradient(left, #00a79d 0%, #326de6 100%);
    background: linear-gradient(to right, #00a79d 0%, #326de6 100%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    font-weight: 400;
    align-items: center;
    width: 400px;
    height: 40px;
    margin: 0 6px;
    color: #fff;
    font-size: 1.4rem;

    &:hover {
        cursor: pointer;
    }
}

.LargeBlueButton {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 48px;
    background-color: $light-blue;
    color: white;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 1.25rem;
    width: 485px;
    max-width: 50%;

    &:hover {
        cursor: pointer;
    }

    &:active {
        background-color: darken($light-blue, 5%);
        top: 1px;
    }

    i {
        color: white;
        font-size: 1.4rem;
        margin-right: 7px;
    }
}

.NoContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        color: $teal;
        font-weight: 300;
        font-size: 2.125rem;
        padding: 1rem 0;
        margin: 0;
    }

    p {
        color: $grey;
        margin-top: 0;
    }
}

.NoRepositories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin: 3rem auto;

    h3 {
        color: $teal;
        font-weight: 300;
        font-size: 2.125rem;
        padding: 1rem 0;
        margin: 0;
    }

    p {
        color: $black;
        margin-top: 0;
    }
}

.NewRepoCommands {
    div {
        color: $teal;
        font-size: 1.2rem;
        margin-top: 14px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    p {
        margin: 21px 0 0;
        font-size: 0.875rem;
        color: $black;
    }

    .Code {
        background-color: $curtain-color;
        text-align: left;
        color: $black;
        padding: 11px;
        font-size: 1rem;
    }
}

.PageLoader {
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;

    .small-spinner {
        margin-top: -100px;
    }
}

.Clickable {
    color: $light-blue;
    transition: color 0.3s;

    &:hover {
        cursor: pointer;
        color: darken($light-blue, 10%);
    }
}

.FlexColumn {
    display: flex;
    flex-direction: column;
}

.FlexRow {
    display: flex;
    flex-direction: row;
}

.Flex0 {
    flex: 0 !important;
}

.Flex1 {
    flex: 1 !important;
}

.Flex2 {
    flex: 2 !important;
}

.Flex3 {
    flex: 3 !important;
}

.Flex3 {
    flex: 4 !important;
}

.Row {
    margin-bottom: 1rem;
}

.Column {
    padding-right: 1rem;
}

.RowPadding {
    padding: 14px 0;
}

.AlignCenter {
    align-items: center;
}

.JustifyCenter {
    justify-content: center;
}

.JustifyFlexStart {
    align-items: flex-start;
}

.FlexEnd {
    align-items: flex-end;
}

.FlexEndJustify {
    justify-content: flex-end;
}

.SpaceBetween {
    justify-content: space-between;
}

.LightBlueColor {
    color: $light-blue;
}

.TealColor {
    color: $teal;
}

.RedColor {
    color: $red;
}

.NoClick {
    cursor: initial !important;

    &:hover {
        cursor: initial !important;
    }
}

.ItalicText {
    @extend .Clickable;

    font-size: 0.875rem;
    font-style: italic;
    padding-right: 28px;
}

.ThickBlueText {
    color: $light-blue;
    font-weight: 900;
    transition: all 0.3s;

    &:hover {
        cursor: pointer;
        color: darken($light-blue, 5%);
    }
}

.Pipe {
    color: $dark-border-color;
    margin-right: 7px;
}

i {
    color: $teal;
}

label {
    font-size: 0.75rem;
    font-weight: 400;
    color: #38404E;
    margin-bottom: 0.5rem;
}

label.small {
    font-size: 0.625rem;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}