nav {
    position: relative;
    width: 100%;
    background-color: $coal;
    height: 43px;
    display: flex;
    flex-direction: row;
    padding: 1px 0 0;

    .MaxWidthContainer {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo a img {
            width: 90px;
            height: auto;
        }
    }

    h2 {
        font-weight: 300;
        font-size: 1rem;
        color: $salmon;
    }

    .NavButtonContainer{
        position: relative;
        justify-content: center;
        align-items: center;

        a {
            color: inherit;
            text-decoration: none;

            i {
                font-size: 1.2rem;
                color: $light-blue;
                margin-left: 30px;
            }
        }
    }
}

.PageContent {
    .MaxWidthContainer {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;

        .ContentContainer {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;

            .PageHeader {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                border-bottom: solid 1px #BCBEC0;
                margin: 0 0 0;
                padding: 16px 0 18px;

                h2 {
                    position: relative;
                    font-size: 2.125rem;
                    font-weight: 300;
                    color: $teal;
                    margin: 0;

                }
            }
        }
    }
}

.FlexColumn {
    display: flex;
    flex-direction: column;
}

.FlexRow {
    display: flex;
    flex-direction: row;
}

.Flex1 {
    flex: 1
}

.Row{
    margin-bottom: 1rem;
}

.Column{
    padding-right: 2rem;
}

i {
    color: $teal;
}

label {
    font-size: 0.75rem;
    font-weight: 400;
    color: #38404E;
    margin-bottom: 0.5rem;
}

label.small {
    font-size: 0.625rem;

}