$salmon: #EA3F67;
$coal: #1E242D;


$red: #E14034;
$orange: #ff9016;
$purple: #a87eb1;
$pink: #fc5474;
$blue: #4c9fda;
$green: #75C05B;
$grey: #808285;
$yellow: #F7941E;
$teal: #00A79D;
$black: #38404E;
$mustard: #E1B86F;
$light-blue: #1DAFE9;
$dark-grey: #CCCCCC;
$light-green: #E3F2DF;
$light-teal: #CDEDEB;
$light-red: #F8D9D6;
$light-yellow: #FBEAD3;
$light-purple: #EEE4EF;